@import "settings";

@import "partials/functions";
@import "partials/placeholder";

.preloader {
    //display: none; //TODO: delete after markup complete
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, $color-lightest 0%, $color-medium 100%);
    .logo-animated {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 25vh;
        width: 25vh;
        margin: auto;
    }
    .inner-logo {
        @extend .logo-animated;
        padding: 5vh;
    }
    .inner-logo-wrapper {
        position: static;
        border-radius: 100%;
        border: 1px solid $color-dark;
        width: 15vh;
        height: 15vh;
        overflow: hidden;
    }
    .inner-logo-content {
        position: static;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: $color-darker;
    }
    .outer-logo {
        animation: spin 3s ease 0s infinite;
        animation-fill-mode: forward;
    }
    .percentage {
        position: absolute;
        left: 0;
        right: 0;
        top: 30vh;
        bottom: 0;
        width: auto;
        height: 3vh;
        line-height: 3vh;
        font-size: 1.5vh;
        text-align: center;
        display: block;
        margin: auto;
        color: $color-darker;
        &:after {
            content: "%";
        }
    }
    .currently-loading {
        position: absolute;
        top: 35vh;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 6vh;
        margin: auto;
        text-align: center;
        display: block;
        font-size: 16px;
        color: $color-darker;
    }
    h1 {
        position: absolute;
        top: -30vh;
        left: 0;
        right: 0;
        bottom: 55px;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 1;
        padding: 10px 0;
        margin: auto;
        span {
            display: block;
            font-size: .6em;
            font-weight: 100;
        }
    }
    .impress {
        font-size: 10px;
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
        text-transform: uppercase;
    }
    ul {
        @extend %clearfix;
        padding: 5px 0 0;
        width: 10vw;
        text-align: center;
        margin: 0 auto;
        li {
            text-align: center;
            list-style: none;
            float: left;
            width: 33%;
            a {
                font-size: 20px;
                color: $color-dark;
                text-decoration: none;
                display: block;
                vertical-align: middle;
                &:hover,
                &:focus {
                    color: $color-darkest;
                }
            }
        }
    }
}