/* color definitions */
/* container definitions */
/* breakpoint definitions */
/* z-indices definitions */
/* line 11, ../scss/partials/_placeholder.scss */
.video-chop-application .no-content {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 9, ../scss/main.scss */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* line 16, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 19, ../scss/main.scss */
.video-chop-application {
  font-family: "Roboto", sans-serif;
  /* color definitions */
  /* container definitions */
  /* breakpoint definitions */
  /* z-indices definitions */
  /* color definitions */
  /* container definitions */
  /* breakpoint definitions */
  /* z-indices definitions */
  /* color definitions */
  /* container definitions */
  /* breakpoint definitions */
  /* z-indices definitions */
}
/* line 11, ../scss/partials/_placeholder.scss */
.video-chop-application .no-content {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 6, ../scss/_preloader.scss */
.video-chop-application .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(top, #fff 0%, #888 100%);
  background: linear-gradient(to bottom, #fff 0%, #888 100%);
}
/* line 14, ../scss/_preloader.scss */
.video-chop-application .preloader .logo-animated, .video-chop-application .preloader .inner-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25vh;
  width: 25vh;
  margin: auto;
}
/* line 24, ../scss/_preloader.scss */
.video-chop-application .preloader .inner-logo {
  padding: 5vh;
}
/* line 28, ../scss/_preloader.scss */
.video-chop-application .preloader .inner-logo-wrapper {
  position: static;
  border-radius: 100%;
  border: 1px solid #353535;
  width: 15vh;
  height: 15vh;
  overflow: hidden;
}
/* line 36, ../scss/_preloader.scss */
.video-chop-application .preloader .inner-logo-content {
  position: static;
  width: 100%;
  height: 0%;
  overflow: hidden;
  background: #1d1d1b url(../media/img/preloader/inner.png) center center no-repeat;
  background-attachment: fixed;
  background-size: 15vh 15vh;
}
/* line 45, ../scss/_preloader.scss */
.video-chop-application .preloader .outer-logo {
  -webkit-animation: spin 3s ease 0s infinite;
          animation: spin 3s ease 0s infinite;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
}
/* line 49, ../scss/_preloader.scss */
.video-chop-application .preloader .percentage {
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  bottom: 0;
  width: auto;
  height: 3vh;
  line-height: 3vh;
  font-size: 1.5vh;
  text-align: center;
  display: block;
  margin: auto;
  color: #1d1d1b;
}
/* line 63, ../scss/_preloader.scss */
.video-chop-application .preloader .percentage:after {
  content: "%";
}
/* line 67, ../scss/_preloader.scss */
.video-chop-application .preloader .currently-loading {
  position: absolute;
  top: 35vh;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 3vh;
  margin: auto;
  text-align: center;
  display: block;
  font-size: 1.5vh;
  color: #1d1d1b;
}
/* line 25, ../scss/main.scss */
.video-chop-application .application-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
}
/* line 34, ../scss/main.scss */
.video-chop-application .application-wrapper.loading-complete {
  opacity: 1;
}
/* line 11, ../scss/partials/_placeholder.scss */
.video-chop-application .no-content {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 6, ../scss/_navigation.scss */
.video-chop-application .nav {
  position: relative;
  width: 100%;
  height: 40px;
  background: #888;
  z-index: 100;
}
/* line 12, ../scss/_navigation.scss */
.video-chop-application .nav .nav-list {
  margin: 0;
  padding: 0;
  float: left;
  background: #888;
  height: 40px;
  overflow: hidden;
}
/* line 19, ../scss/_navigation.scss */
.video-chop-application .nav .nav-list:hover {
  height: auto;
}
@media (min-width: 768px) {
  /* line 12, ../scss/_navigation.scss */
  .video-chop-application .nav .nav-list {
    float: none;
    background: transparent;
    height: auto;
    overflow: visible;
  }
}
/* line 30, ../scss/_navigation.scss */
.video-chop-application .nav .nav-item {
  float: none;
  list-style: none;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 40px;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  color: #ebebeb;
}
/* line 43, ../scss/_navigation.scss */
.video-chop-application .nav .nav-item.social, .video-chop-application .nav .nav-item:first-child {
  padding: 0;
}
/* line 47, ../scss/_navigation.scss */
.video-chop-application .nav .nav-item:first-child {
  margin-left: 10px;
}
@media (min-width: 768px) {
  /* line 30, ../scss/_navigation.scss */
  .video-chop-application .nav .nav-item {
    float: left;
    margin-left: 10px;
    padding: 0;
  }
  /* line 54, ../scss/_navigation.scss */
  .video-chop-application .nav .nav-item:first-child {
    display: none;
  }
}
/* line 58, ../scss/_navigation.scss */
.video-chop-application .nav .nav-item:hover {
  color: #fff;
}
/* line 62, ../scss/_navigation.scss */
.video-chop-application .nav .icons {
  margin-right: 2px;
  text-align: right;
}
/* line 66, ../scss/_navigation.scss */
.video-chop-application .nav .logo {
  height: 50px;
  background: #fff;
  margin: 5px 0 0 10px;
  padding: 5px;
  float: left;
}
/* line 72, ../scss/_navigation.scss */
.video-chop-application .nav .logo img {
  height: 100%;
  margin: 0 auto;
  display: block;
}
/* line 76, ../scss/_navigation.scss */
.video-chop-application .nav .logo img.logo-small {
  display: block;
}
/* line 79, ../scss/_navigation.scss */
.video-chop-application .nav .logo img.logo-full {
  display: none;
}
@media (min-width: 420px) {
  /* line 83, ../scss/_navigation.scss */
  .video-chop-application .nav .logo img.logo-small {
    display: none;
  }
  /* line 86, ../scss/_navigation.scss */
  .video-chop-application .nav .logo img.logo-full {
    display: block;
  }
}
/* line 92, ../scss/_navigation.scss */
.video-chop-application .nav .social {
  float: right;
  margin: 0 10px 0 0;
}
/* line 11, ../scss/partials/_placeholder.scss */
.video-chop-application .no-content {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 6, ../scss/_article.scss */
.video-chop-application .application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background: #353535;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
