/* line 7, ../scss/main.scss */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 14, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../scss/main.scss */
.video-chop-application {
  font-family: "Roboto", sans-serif;
}
