@import "settings";

@import "partials/_functions.scss";
@import "partials/_placeholder";

.file-list {
    padding-top: 2*$spacer;
    overflow-x: hidden;
    overflow-y: auto;
    .file-menu {
        position: fixed;
        top: $container-nav-height;
        left: 0;
        width: $file-list-width;
        height: $spacer*3;
        user-select: none;
        background: rgba(0, 0, 0, .5);
        .file-add-button {
            position: relative;
            margin-right: $spacer;
            font-family: $base-font;
            height: 3*$spacer;
            padding: 2px 4px;
            float: right;
            color: $color-medium;
            cursor: pointer;
            line-height: (3*$spacer) - ($spacer/2);
            &:before {
                font-size: (3*$spacer) - ($spacer/2);
                font-family: $icon-font;
                text-align: center;
                position: absolute;
                left: -(2*$spacer);
            }
            &:hover {
                color: $color-highlight;
            }
        }
    }
    .files {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }
    .file {
        list-style-type: none;
        background: $color-dark;
        color: $color-medium;
        padding: 5px 0;
        cursor: move;
        &:nth-child(odd) {
            background: $color-medium;
            color: $color-dark;
        }
        &:first-child {
            margin-top: 10px;
        }
        .file-delete {
            display: inline-block;
            width: 16px;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                color: $color-lightest;
            }
        }
    }
    .file-info {
        width: 150px;
        margin-left: 3px;
        display: inline-block;
        vertical-align: middle;
        p {
            margin: 0;
            padding: 0;
        }
    }
    .file-thumb {
        width: 120px;
        vertical-align: middle;
    }
    .ui-state-highlight {
        width: 100%;
        height: 75px;
        background: $color-lightest;
    }
}