@import "settings";

@import "partials/_functions.scss";
@import "partials/_placeholder";

.nav {
    position: relative;
    width: 100%;
    height: $container-nav-height;
    background: $color-medium;
    .nav-list {
        margin: 0;
        padding: 0;
        float: left;
        background: $color-medium;
        height: $container-nav-height;
        overflow: hidden;
        &:hover {
            height: auto;
        }
        @include breakpoint($breakpoint-small) {
            float: none;
            background: transparent;
            height: auto;
            overflow: visible;
        }

    }
    .nav-item {
        float: none;
        list-style: none;
        font: {
            size: 1em;
            weight: 100;
        }
        text-transform: uppercase;
        line-height: $container-nav-height;
        margin: 0;
        padding: ($spacer/2) $spacer;
        cursor: pointer;
        color: $color-light;
        &.social,
        &:first-child {
            padding: 0;
        }
        &:first-child {
            margin-left: $spacer;
        }
        @include breakpoint($breakpoint-small) {
            float: left;
            margin-left: $spacer;
            padding: 0;
            &:first-child {
                display: none;
            }

        }
        &:hover {
            color: $color-lightest;
        }
    }
    .icons {
        margin-right: ($spacer/5);
        text-align: right;
    }
    .logo {
        height: $container-nav-height + $spacer;
        background: #fff;
        margin: ($spacer/2) 0 0 $spacer;
        padding: $spacer/2;
        float: left;
        img {
            height: 100%;
        }
    }
    .social {
        float: right;
        margin: 0 10px 0 0;
    }
}