@import "settings";

@import "partials/_functions.scss";
@import "partials/_placeholder";

.preloader {
    //display: none; //TODO: delete after markup complete
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../media/img/preloader/loaderbg.jpg) center center no-repeat;
    background-size: cover;

    .percentage {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin: 0 auto;
        margin-top: 170px;
        bottom: 0;
        width: auto;
        height: 3vh;
        line-height: 3vh;
        font-size: 24px;
        text-align: center;
        display: block;
        color: $color-darker;
        font-family: $base-font;
        font-weight: 100;
        &:after {
            content: "%";
        }
    }

    .currently-loading {
        position: absolute;
        top: 50%;
        margin: 0 auto;
        margin-top: 195px;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: 3vh;
        text-align: center;
        display: block;
        font-size: 24px;
        color: $color-darker;
        font-family: $base-font;
        font-weight: 100;
    }


    .logo-animated {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
    }

    .preloader-hold > svg {
        display: block;
        width: 300px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
    }

    .logo-main {
        position: absolute;
        top: 0;
        margin: auto;
        left: 0;
        right: 0;
    }

    .preloader-hold {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 400px;
        height: 570px;
    }
}