@import "settings";

@import "partials/_functions.scss";
@import "partials/_placeholder";

.preview {
    .video-wrapper,
    .controls-wrapper {
        position: absolute;
        width: 100%;
    }
    .video-wrapper {
        top: 0;
        bottom: $controls-height;
        background: $color-darker;
        .preview-video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: 100%;
            max-width: 100%;
            margin: auto;
            display: block;
            vertical-align: middle;
        }
    }
    .controls-wrapper {
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 0;
        justify-content: center;
        height: $controls-height;
    }
    .range-slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        width: 90%;
        margin: $spacer auto;
        &:focus {
            outline: 0;
        }
        &:hover {
            &::-webkit-slider-thumb {
                background: $color-highlight;
            }
        }
        &::-webkit-slider-thumb {
            background: $color-medium-dark;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            border: 0;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            margin-top: -7px;
            cursor: ew-resize;
        &:focus {
                outline: 0;
            }
        }
        &::-webkit-slider-runnable-track {
            height: 2px;
            background: $color-lightest;
            border: 0;
            &:focus {
                outline: 0;
            }
        }
    }
    .controls {
        width: 90%;
        margin: 0 auto;
        display: flex;
        border: 1px solid $color-medium-dark;
        div {
            flex: 1 auto;
            text-align: center;
            height: $control-icon-size;
            border-left: 1px solid $color-medium-dark;
            &:first-child {
                border-left: 0;
            }
        }
        .control {
            cursor: pointer;
            color: $color-medium-dark;
            background: $color-lightest;
            line-height: $control-icon-size;
            border-bottom: 3px solid $color-medium-dark;
            transition: border .1s ease;
            &:hover {
                background: $color-light;
                border-bottom: 6px solid $color-highlight;
            }
        }
        .time-slider {
            display: flex;
            flex: .5 auto;
            cursor: default;
            line-height: $control-icon-size;
            font-size: 2em;
            color: $color-lightest;
            background: $color-medium-dark;
            font-family: $time-font;
            > span {
                position: relative;
                flex: 1 auto;
                &:last-child:before {
                    position: absolute;
                    content: "-";
                    left: -1px;
                    top: 0;
                }
            }
        }
    }
}