$container-width: 100%;
$container-height: 100%;

$base-font-size: 21px;
$base-line-width: 1em;
$base-font-color: #000;
$base-font: 'Roboto', sans-serif;

/* color definitions */
$color-lightest: #fff;
$color-darkest: #000;

$color-light: #ebebeb;
$color-medium: #888;
$color-dark: #353535;
$color-darker: #1d1d1b;

$color-highlight: #dcb432;

/* container definitions */
$spacer: 10px;
$container-nav-height: 40px;

/* breakpoint definitions */
$breakpoint-smallest: 420px;
$breakpoint-small: 768px;

/* z-indices definitions */
$z-index-high: 100;