@charset "UTF-8";

@import "settings";
@import "breakpoint";

@import "partials/_functions.scss";
@import "partials/_placeholder";

@import "font-awesome.scss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
* {
    box-sizing: border-box;
}
/* general classes */
.helper.ui-sortable-helper {
    padding: 10px;
    background: #fff url(../../videochop/media/img/logo-small.png) center center no-repeat;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    background-size: 50px 50px;
}
.video-chop-application {
    font-family: $base-font;
    .no-content {
        @extend %nocontent;
    }
    @import "_preloader";
    .application-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        //opacity: 1; //TODO: delete after markup complete
        transition: opacity .3s ease;
        &.loading-complete {
            opacity: 1;
        }
        .impress-open &,
        .help-open &{
            &:after {
                position: absolute;
                z-index: 90;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .6);
                content: '';
            }
        }
        .background-img {
            position: absolute;
            width: 90px;
            height: 90px;
            display: block;
            z-index: 100;
            bottom: 0;
            left: 0;
            background: url(../../videochop/media/img/alpha.png) no-repeat;
            background-size: contain;

        }
        .overlay-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.6);
            z-index: 200;
        }
        .mobile-stop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,1.0);
            z-index: 210;
        }
        .mobile-stop-message {
            text-align: center;
            color: $color-lightest;
        }
        .overlay-videolist {
            position: absolute;
            top: 80px;
            left: 10px;
            width: 330px;
        }
        .overlay-timeline {
            position: absolute;
            bottom: 0;
            left: 10px;
            height: 320px;
        }
        .overlay-show-preview {
            position: absolute;
            bottom: 230px;
            left: 80px;
            width: 350px;
        }
        .overlay-ready {
            position: absolute;
            top: -3px;
            left: 230px;
            width: 350px;
        }
        .overlay-show-love {
            position: absolute;
            top: -31px;
            right: -25px;
            width: 650px;
        }
        .overlay-best-exp {
            position: absolute;
            top: 110px;
            right: 370px;
            width: 360px;

        }
    }

    @import "_navigation";

    @import "_article";

    @import "_impress";

    @import "_help";


}
